<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/pictures/icon.png">
    <script defer src="../static/projectJS.js"></script>
    <title>about us</title>
</head>
<body dir="rtl">
    <header>

        <nav>
            <ul>
                <li><a href="login.html">התחבר לאתר</a></li>
                <li><a href="new_account.html">צור חשבון</a></li>
                <li><a href="search.html">חפש</a></li>
                <li><a href="groups.html">קבוצות</a></li>
                <li><a href="user_profile.html">הפרופיל שלי</a></li>
                <li><a href="about_us.html">אודות</a></li>
    
            </ul>
        </nav>

    </header>

    <h1>אודותינו</h1>
    <p>
        האתר שלנו הוקם כדי לענות על הצורך שלך בחיפוש והכרת מגרשי הקטרגל באזור המגורים שלך!! <br>
        במקום שתשחק כל פעם רק באותו מגרש ותקווה שהוא פנוי, <br>
        דרך האתר שלנו תוכל לחפש מגרשים נוספים בסביבתך ולקבל עליהם מידע רלוונטי. <br>
        כמו גודל, סוג המשטח, מחיר השכרה אם יש ופרטי קשר. <br>
    </p>

    <img src="../static/pictures/icon.png" alt="">

</body>
</html>