<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/pictures/icon.png">
    <script defer src="../static/projectJS.js"></script>
    <title>my groups</title>
</head>
<body dir="rtl">
    <header>

        <nav>
            <ul>
                <li><a href="login.html">התחבר לאתר</a></li>
                <li><a href="new_account.html">צור חשבון</a></li>
                <li><a href="search.html">חפש</a></li>
                <li><a href="groups.html">קבוצות</a></li>
                <li><a href="user_profile.html">הפרופיל שלי</a></li>
                <li><a href="about_us.html">אודות</a></li>
    
            </ul>
        </nav>

    </header>

    <h1>הקבוצות שלי</h1>
    <table id="tables">
        <thead>
            <tr>
                <td>מספר</td>
                <td>שם</td>
                <td>עיר</td>
                <td>מספר שחקנים</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>תעשיה וניהול שנה ד'</td>
                <td>באר שבע</td>
                <td>30</td>
            </tr>
            <tr>
                <td>2</td>
                <td>כדורגל רמה גבוהה בשלישי</td>
                <td>באר שבע</td>
                <td>18</td>
            </tr>
        </tbody>

    </table> <br>
    <a id="back2" href="user_profile.html">חזור</a>

</body>
</html>