extends main_layout
block content
    p
        | האתר שלנו הוקם כדי לענות על הצורך שלך בחיפוש והכרת מגרשי הקטרגל באזור המגורים שלך!! 
        br
        |         במקום שתשחק כל פעם רק באותו מגרש ותקווה שהוא פנוי, 
        br
        |         דרך האתר שלנו תוכל לחפש מגרשים נוספים בסביבתך ולקבל עליהם מידע רלוונטי. 
        br
        |         כמו גודל, סוג המשטח, מחיר השכרה אם יש ופרטי קשר. 
        br
    img(src='pictures/icon.png' alt='')