<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/pictures/icon.png">
    <script defer src="../static/projectJS.js"></script>
    <title>sign up</title>
</head>

<body dir="rtl">
    <header>

    <nav>
        <nav>
            <ul>
                <li><a href="login.html">התחבר לאתר</a></li>
                <li><a href="new_account.html">צור חשבון</a></li>
                <li><a href="search.html">חפש</a></li>
                <li><a href="groups.html">קבוצות</a></li>
                <li><a href="user_profile.html">הפרופיל שלי</a></li>
                <li><a href="about_us.html">אודות</a></li>
    
            </ul>
        </nav>

    </header>

    <div id="container">
        <section class="sign-page">
            <h1>הרשמה לאתר</h1><br>
            <form action="login.html" onsubmit="return success_newAccount()" method="post">
                <label for="fname">שם פרטי</label><br>
                <input type="text" id="fname" name="fname" required/><br>
                <p id="fname-error"></p>
                <label for="lname">שם משפחה</label><br>
                <input type="text" id="lname" name="lname" required/><br>
                <p id="lname-error"></p>
                <label for="phoneNumber">טלפון</label><br>
                <input type="tel" id="phoneNumber" name="phoneNumber" required><br>
                <label for="cityChoice">בחר עיר</label><br>
                <input list="cities" id="cityChoice" name="cityChoice" required><br>
                <datalist id="cities">
                    <option value="באר שבע">
                    <option value="להבים">
                    <option value="עומר">
                    <option value="שדרות">
                    </option value="אופקים">
                </datalist>
                <label for="Email">אימייל</label><br>
                <input type="email" id="Email" name="Email" required/>
                <p id="email-error"></p>
                <label for="Password">סיסמה</label><br>
                <input type="password" id="Password" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="הסיסמה חייבת להכיל לפחות ספרה אחת ואות גדולה וקטנה אחת, ולפחות 8 תווים או יותר" required/><br>
                <p id="pass-error"></p>
                <button type="submit" class="button" onclick="checkValidMail(), checkValidPassward(), full_name_validation()">הרשמ/י</button><br><br>
            </form>
        </section>
    </div>

</body>
</html>

