extends main_layout
block content
    section(class="search-page")
        form(action="/findCourt", method="get")
            label(for="cityChoice") בחר עיר
            br
            input(list="cities", name="cityChoice", id="cityChoice", required="required")
            br
            datalist(id="cities")
                option(value="באר שבע")
                option(value="להבים")
                option(value="עומר")
                option(value="שדרות")
                option(value="אופקים")
            label(for="price") מחיר מקסימלי
            br
            input(type="number", name="price", id="price")
            br
            label(for="surface") סוג משטח 
            br
            select(name="surface", id="surface")
                option(value="") 
                option(value="דשא") דשא
                option(value="דשא סינטטי") דשא סינטטי
                option(value="אספלט") אספלט
            br
            button(type="submit", class="button") חפש/י
